* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
     color: #5d5d7d;
}

.wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.container-left {
   flex: 0 0 60%;
    padding: 20% 0 0 110px;
}

.container-right {
    flex: 0 0 40%;
    background-color: rgba(93, 93, 125, 0.16);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 36px;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 70px;
    line-height: 80px;
    width: 368px;
}

p {
    font-size: 28px;
    line-height: 48px;
    opacity: 0.6;
    margin: 15px 0;
    width: 540px;
}

button {
    width: 269px;
    height: 62px;
    background-color: #9499EA;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    border: none;
    border-radius: 30px;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

button:hover {
    opacity: .8;
}

button:active {
    opacity: .5;
}

a {
    font-size: 28px;
    line-height: 41px;
    color: #5D5D7D;
    margin-right: 41px;
    cursor: pointer;
    margin: 24px 0 0 57px;
}

a:nth-child(2) {
    opacity: 0.4;
}

a:hover{
    opacity: 0.4;
}

a:active {
    opacity: 0.8;
}

@media screen and (max-width:900px) {
    .wrapper{
        flex-direction: column;
        height: auto;
    }

    .container-left,
    .container-right {
        width: 100%;
        padding: 40px 20px;
        align-items: center;
    }

    .container-left {
        height: 50%;
        padding: 0;
        margin: 0;
    }

    .container-right{
        display: block;
        height: auto;
        position: static;
        padding: 40px;
    }

    h1, p {
        text-align: center;
    }

    h1 {
        font-size: 36px;
        line-height: 52px;
        width: auto;
        margin: 58px 50px 0 50px;
    }

    p {
        font-size: 14px;
        line-height: 24px;
        width: 296px;
        margin: 15px 40px;
        width: auto;
    }
   
    button {
        display: block;
        margin: 0 auto;
    }
    
    a {
        display: none;
    }

    img {
        position: static;
        width: 85%;
    }
}